<mat-toolbar color="primary" class="mat-toolbar">
    <button mat-icon-button class="toolbar-menu" aria-label="Menu" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="toolbar-title">
        <a class="main-link" href="https://github.com/CirclonGroup/angular-tree-component" target="_blank">
            @CirclonGroup/angular-tree-component
        </a>
    </div>

    <div class="external-links">
        <a href="https://github.com/CirclonGroup/angular-tree-component" target="_blank">
            <img src="assets/logos/github-icon.svg" alt="Github">
        </a>
    </div>
</mat-toolbar>
